:root {
  --main-color-text: #212121;
  --secondary-text-color:#757575;
  --black: #000000;
  --accent-color: #2196F3;
  --accent-hero-color: #188CE8;
  --white: #FFFFFF;
  --secondery-fone: #F5F4FA;
  --fone-footer: #2F303A;
  --secondary-text-footer: rgba(255, 255, 255, 0.6);
  --icons-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: var(--white);
  color: var(--main-color-text);
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.description {
  color: var(--secondary-text-color);
}

.button {
  cursor: pointer;
  border: 0;
}

.projects__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  background-color: var(--secondery-fone);
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__button:hover, .projects__button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__main-button {
  text-align: center;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--accent-hero-color);
}

.form-footer__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-left: 28px;
  color: var(--white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__button:hover,
.form-footer__button:focus {
  background-color: var(--accent-hero-color);
}

.modal__button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__button-close:focus .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus, .modal-button:hover {
  background-color: var(--accent-hero-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo {
    text-align: left;
  }
}

.header-logo {
  margin-right: 93px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.logo--accent-footer {
  color: var(--white);
}

.logo--accent-header {
  color: var(--black);
}

.social-box {
  padding-left: 32px;
  padding-right: 32px;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background-color: var(--white);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
.social-link__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .social-footer {
    margin-left: 93px;
  }
}

.soc-net-footer {
  display: flex;
  gap: 10px;
}
.soc-net-footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-net-footer__link :hover, .soc-net-footer__link :focus {
  background-color: var(--accent-color);
}
.soc-net-footer__icon-footer {
  fill: var(--white);
}

.footer-title {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__icon {
  width: 40px;
  height: 40px;
  fill: var(--main-color-text);
}
.menu-button:hover .menu-button__icon, .menu-button:hover .menu-button__icon {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container__item {
  margin-bottom: 32px;
}
.menu-container__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color-text);
}
.menu-container__link:hover, .menu-container__link:focus {
  color: var(--accent-color);
}

.mobile-box {
  margin-top: 302px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-contacte {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-contacte__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.accent-mobile {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-social {
  display: flex;
  margin-top: 64px;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-line {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.header___menu-button {
  margin-left: auto;
  margin-top: 10px;
}

.header__nav {
  display: flex;
}

.page-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-color-text);
    display: block;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav .page-nav__link:hover,
.page-nav .page-nav__link:focus {
    color: var(--accent-color);
  }
  .page-nav .page-nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .page-nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .page-nav__link.current {
    color: var(--accent-color);
  }
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact__link {
    padding: 32px 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
}

.contact-nav-icons {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero480@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero480@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero768@1x.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero768@2x.jpg);
  }
}

.hero__title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
  max-width: 696px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-section {
  background-color: var(--fone-footer);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-section__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section__container {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    display: inline;
  }
}
.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact__address {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__address:hover, .footer-contact__address:focus {
  color: var(--accent-color);
}

.white-accent {
  color: var(--white);
}

.footer-contact__link.white-accent {
  color: var(--secondary-text-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link.white-accent:hover,
.footer-contact__link.white-accent:focus {
  color: var(--accent-color);
}

.footer-form-box {
  width: 570px;
}
@media screen and (min-width: 768px) {
  .footer-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-box {
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 93px;
  }
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .form-footer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
  }
}
.form-footer__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 15px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .form-footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}
.form-footer .form-footer__icon {
  margin-left: 10px;
}

.footer-title-form {
  margin-bottom: 20px;
  text-align: center;
}

.priorities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .priorities {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .priorities {
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .priorities__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .priorities__item {
    width: 270px;
  }
}
.priorities__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.priorities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .priorities__title {
    display: inline-block;
  }
}
.priorities .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .priorities .description {
    display: inline-block;
  }
}

.services-section__title {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services-section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.services {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services {
    display: flex;
  }
  .services__item {
    margin-right: 30px;
    position: relative;
  }
  .services__elements {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    bottom: 0;
  }
  .services__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
}

.team-section {
  background-color: var(--secondery-fone);
}

.team-section__title {
  margin-bottom: 50px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.name-box {
  padding: 30px 0;
  background-color: var(--white);
}
.name-box__team-title {
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.name-box__team-description {
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.name-box--description {
  color: var(--secondary-text-color);
}

.section__title-customers {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title-customers {
    margin-bottom: 50px;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  outline: transparent;
}

.customers__icon {
  fill: currentColor;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.all-projects__iteam {
  flex-basis: calc((100% - 60px) / 3);
}
.all-projects__link {
  display: inline-block;
  text-decoration: none;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
.all-projects__link:focus, .all-projects__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.all-projects__link:hover .overlay {
  transform: translateY(0);
}

.projects-subtitles {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.projects-subtitles__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-text);
  margin-bottom: 4px;
}
.projects-subtitles__description {
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.overlay-box {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.overlay__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
}

.all-projects__link:hover .overlay,
.all-projects__link:focus .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-close {
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__action {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-box {
  width: 448px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
  padding-top: 15px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196F3;
  outline: none;
}
.modal-input:focus + .modal-input__icon {
  fill: var(--accent-color);
}
.modal-input__icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 13px;
  left: 15px;
  fill: var(--main-color-text);
}

.modal-message {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-message:focus {
  border: 1px solid #2196F3;
  outline: none;
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox__input {
  margin-bottom: 30px;
}
.checkbox__input:checked + label .contract-label__focus {
  border-color: transparent;
  background-color: var(--accent-color);
}

.contract-label {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.contract-label__focus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
}
.contract-label__icon {
  width: 15px;
  height: 15px;
}
.contract-label__accent {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */