.header {
    border-bottom: 1px solid #ECECEC;
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media screen and (min-width: $tablet) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    

}   
.header___menu-button {
    margin-left: auto;
   
}
