.overlay-box {
    overflow: hidden;
    position: relative;  
}
.overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    left: 0;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms linear;
    &__text {
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
    
        color: var(--white);
    }
}

.all-projects__link:hover .overlay,
.all-projects__link:focus .overlay{
    transform: translateY(0);
}

